<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mimimimetr</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
</head>
<body>
    <header th:insert="blocks/header :: header"></header>

        <div class="container mt-5">
            <h3>Уважаемый посетитель!!!</h3>
            <h3>На нашем сайте ты можешь проголосовать за самого мимишного котика!!!</h3>
            <h3>А также можно посмотреть ТОП-10 котиков</h3>
        </div>

    <div th:insert="blocks/footer :: footer"></div>
</body>
</html>