<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Голосование</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
</head>
<body>
    <header th:insert="blocks/header :: header"></header>

    <div class="container mt-5">
        <h3>Нажимай на котиков</h3>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Image</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cat : ${cats}">
                <td th:text="${cat.name}"/>
                <td>
                    <form th:action="@{'/voting/' + ${cat.id}}" method="post">
                        <a href="#" onclick="parentNode.submit();">
                            <img th:src="@{'imgs/' + ${cat.name} + '.jpg'}" alt="" width="150" />
                        </a>
                        <input type="hidden" name="img" />
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:insert="blocks/footer :: footer"></div>
</body>
</html>