<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Голосование</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
</head>
<body>
    <header th:insert="blocks/header :: header"></header>

    <h3 align="center">Выбери котика</h3>

    <table class="table" align="center">
        <thead>
        <tr align="center">
            <th scope="col" th:text="${cat1.name}" align="center"/>
            <th scope="col" th:text="${cat2.name}" align="center"/>
        </tr>
        </thead>
        <tbody>
        <tr align="center">
            <td align="center">
                <form th:action="@{'/voting/' + ${cat1.id}}" th:object="${cat1}" method="post">
                    <a href="#" onclick="parentNode.submit();">
                        <img th:src="@{'imgs/' + ${cat1.name} + '.jpg'}" alt="" width="300" />
                    </a>
                    <input type="hidden" name="img" />
                </form>
            </td>
            <td align="center">
                <form th:action="@{'/voting/' + ${cat2.id}}" th:object="${cat2}" method="post">
                    <a href="#" onclick="parentNode.submit();">
                        <img th:src="@{'imgs/' + ${cat2.name} + '.jpg'}" alt="" width="300" />
                    </a>
                    <input type="hidden" name="img" />
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <!--<div class="container mt-5">
        <form th:action="@{'/voting/' + ${cat1.id}}" th:object="${cat1}" method="post">
            <a href="#" onclick="parentNode.submit();">
                <img th:src="@{'imgs/' + ${cat1.name} + '.jpg'}" alt="" width="300" />
            </a>
            <input type="hidden" name="img" />
        </form>
        <form th:action="@{'/voting/' + ${cat2.id}}" th:object="${cat2}" method="post">
            <a href="#" onclick="parentNode.submit();">
                <img th:src="@{'imgs/' + ${cat2.name} + '.jpg'}" alt="" width="300" />
            </a>
            <input type="hidden" name="img" />
        </form>
    </div>-->

    <div th:insert="blocks/footer :: footer"></div>
</body>
</html>