<div th:fragment="header">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
            <span class="fs-4">Mimimimetr</span>
        </a>

        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a th:href="@{/voting}" class="btn btn-primary me-3">Голосовать</a>
            <a th:href="@{/top10}" class="btn btn-primary me-3">ТОП-10</a>
            <a th:href="@{/candidates}" class="btn btn-primary me-3">Наши котики</a>
        </nav>
    </div>
</div>